<!DOCTYPE html>
<html lang="{{ site.locale }}">

  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">

      {{ content }}

    </section>

    {% include page-footer.html %}

  </body>
</html>
